{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">WAMA : Webapp for Automatic Media Anonymization</h1>
  <p class="lead">WAMA detects and blurs faces, number plates and so much more, quickly and accurately.</p>
  <hr>
  <p class="lead">To get started, please log on to WAMA... (
    <a type="button" class="navbar-brand text-light" data-bs-toggle="modal" data-bs-target="#LOGIN-MODAL">
      <span class="fas fa-door-open"></span></a>
    )
  </p>
  <br>
  <div class="ratio ratio-16x9">
    <iframe class="ratio" src="https://www.youtube.com/embed/243buD-70FI" style="border:3px solid black;"></iframe>
  </div>
  <br>
{% endblock %}
