celery
deep-translator
Django
django_auth_ldap
django-git-submodules
django-wysiwyg
imageio
imageio-ffmpeg
#mod-wsgi
more-itertools
numpy
opencv_python
pillow
python_ldap
PySide6
pytube
requests
#torch
tqdm
ultralytics
yt-dlp
