{% extends 'medias/base.html' %}

{% load static %}

{% block title %}Options{% endblock %}

{% block medias_content %}
  <table id="medias" class="table table-bordered">
    <thead>
      <tr>
        <th>Media</th>
        <th>Duration</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for media in medias %}
        <tr>
          <td><a href="{{ medias.file.url }}">{{ media.file.name }}</a></td>
          <td>{{ media.duration }}</td>
          <td class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: 36px">
              <div class="progress-bar" style="width: 20%">20%</div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <div class="text-center" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary">
      Launch process with default options
    </button>
    <input id="process_with_default_options" type="file" name="file" multiple
           style="display: none;">
  </div>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
      Show options !
    </a>
  </p>
  <div class="collapse" id="collapse">
  <form method="post" action="{% url 'medias:reset_options' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Reset options
    </button>
  </form>
  <br>
  <hr>
  <div class="row text-center" style="border: 1px solid grey;">
    <div class="col-sm-6">Options</div>
    <div class="col-1">Values</div>
  </div>
  {% for option in options %}
    <div class="row text-center text-bg-secondary p-3" style="border: 1px solid grey;">
      <div class="col-sm-6 text-center text-bg-secondary p-3">{{ option.title }}</div>
      <div class="col-md-6 text-center">
        {% if option.type == 'BOOL' %}
          <input class="form-check-input" type="checkbox" role="switch" name="option.title" {% if option.value == '1' %}checked{% endif %}>
        {% elif option.type == 'FLOAT' %}
          <input type="range" class="form-range" name="option.title" value="{{ option.value }}" min="0" max="2" step="0.1" oninput="this.nextElementSibling.value = option.value">
          <output>{{ option.value }}</output>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <hr>
  <div class="text-center" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary">
      Launch process with defined options
    </button>
    <input id="process_with_defined_options" type="file" name="file" multiple
           style="display: none;">
  </div>
  </div>
{% endblock %}
