{% block main %}
{% block controler %}
<button type="button" data-bs-toggle="modal" data-bs-target="#{{ ui_id }}"
    {% for attr, value in button_attrs.items %}
        {{ attr }}="{{ value }}"
    {% endfor %}
>

    {% block control %}{% endblock %}
</button>
{% endblock controler %}
<div class="modal fade" id="{{ ui_id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% block header %}<h4 class="modal-title" id="{{ ui_id }}-Label">{% block title %}{% endblock %}</h4>{% endblock%}
                <button type="button"
                        style="position:absolute; top:10px;right:10px;"
                        class="close" data-bs-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                {% block body %} {% endblock%}
            </div>
            <div class="modal-footer">
                {% block footer %}
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                {% endblock%}
           </div>
        </div>
    </div>
</div>
{% endblock main %}