{% extends 'base.html' %}
{% block content %}
<div class="container">
<!--    {% if can_edit == True %}-->
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pageEditNavbar" aria-controls="pageEditNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-pen"></span>
            </button>
            <div class="collapse navbar-collapse"  id="pageEditNavbar">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:user-edit' %}">Edit user</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>
<!--    {% endif %}-->
<!--<div class="row">-->
<!--    <div class="col-12 col-md-8">-->
<!--        <h1>{{ selected_user.first_name }} {{ selected_user.last_name }}</h1>-->
<!--        <h2><a class="text-primary" href="mailto:{{ selected_user.email }}">{{ selected_user.email }}</a></h2>-->
<!--        {% if selected_user.user_details.tags.all %}-->
<!--            <p style="font-size:1.2rem;">-->
<!--                {% for tag in selected_user.user_details.tags.all %}-->
<!--                     <span class="badge bg-primary text-light">#{{ tag }}</span>-->
<!--                {% endfor %}-->
<!--            </p>-->
<!--        {% endif %}-->
<!--         <a href="{% url 'contributions:catalog' %}?ftr-added_by={{ selected_user.pk }}" class="text-primary"><i class="fa fa-square-up-right"></i> Contributions</a>-->
<!--        <h2>Details</h2>-->
<!--        {{ selected_user.user_details.text|safe }}-->
<!--    </div>-->
<!--    {% if selected_user.user_links %}-->
<!--    <div class="col-12 col-md-4">-->
<!--        <div class="list-group list-group-flush">-->
<!--            {% for link in selected_user.user_links.all %}-->
<!--            <div class="list-group-item d-flex justify-content-between align-items-center bg-warning">-->
<!--                <a href="{{  link.url }}">-->
<!--                    <h7 class="mb-1">{{ link.name }}</h7>-->
<!--                    <small>{{  link.details }}</small>-->
<!--                </a>-->
<!--                {% if can_edit == True %}-->
<!--                    <span>-->
<!--                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#M{{ link.pk }}_EditLink">-->
<!--                            <i class="fa fa-pen"></i>-->
<!--                        </button>-->
<!--                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#M{{ link.pk }}_DeleteLink">-->
<!--                            <i class="fa fa-trash"></i>-->
<!--                        </button>-->
<!--                    </span>-->

<!--                    {% include 'accounts/dialogs/edit_link.html' with modal_id=link.pk|stringformat:"d"|add:"_EditLink" %}-->
<!--                    {% include 'accounts/dialogs/delete_link.html' with modal_id=link.pk|stringformat:"d"|add:"_DeleteLink" %}-->

<!--                {% endif %}-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endif %}-->
<!--</div>-->
<!--{% if selected_user.userproject_set %}-->
<!--    <h2>Projects</h2>-->
<!--    <div class="list-group">-->
<!--        {% for project in selected_user.userproject_set.all %}-->
<!--            <div class="list-group-item" >-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                    <a href="{% url 'contributions:catalog' project.pk %}"><h5 class="mb-1">{{ project.name }}</h5></a>-->
<!--                {% if can_edit == True %}-->
<!--                    <span>-->
<!--                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#M{{ project.pk }}_EditProject">-->
<!--                            <i class="fa fa-pen"></i>-->
<!--                        </button>-->
<!--                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#M{{ project.pk }}_DeleteProject">-->
<!--                            <i class="fa fa-trash"></i>-->
<!--                        </button>-->
<!--                    </span>-->
<!--                    {% include 'community/dialogs/edit_project.html' with modal_id=project.pk|stringformat:"d"|add:"_EditProject" %}-->
<!--                    {% include 'community/dialogs/delete_project.html' with modal_id=project.pk|stringformat:"d"|add:"_DeleteProject" %}-->
<!--                {% endif %}-->
<!--                </div>-->

<!--                {% for tag in project.tags.all %}-->
<!--                    <span class="badge bg-primary text-light">#{{ tag }}</span>-->
<!--                {% endfor %}-->
<!--                <p class="mb-1">{{  project.details|safe }}</p>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--{% endif %}-->
</div>

{% endblock %}