{% extends './modal.html' %}
{% block controler %}{% endblock %}{% block header %}{{ block.super }}{% endblock%}
{% block title %}{{ i }}{% endblock %}
{% block body %}
<IMG SRC="{{ MEDIA_URL }}{{ i.preview }}" style="max-width:100%;"/>
{% endblock%}
{% block footer %}
<button type="button" data-dir="prev" class="btn btn-round btn-info">
    <i class="fa fa-chevron-left"></i> Previous</button>
<button type="button" data-dir="next" class="btn btn-round btn-info">
    Next <i class="fa fa-chevron-right"></i></button>
    {{ block.super }}
{% endblock %}