<nav class="nav navbar navbar-dark bg-dark nav-justified navbar-expand-md" id="top-navigation">
  <div class="container">
    <div class="col-1"></div>
    <div class="navbar-header col-2 d-flex justify-content-center align-items-center">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-light d-md-flex flex-md-column justify-content-center align-items-center" href="{% url 'home' %}">
        <span class="fas fa-home"></span>
        <span>Home</span>
      </a>
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarMain">
      <ul class="nav nav-pills nav-fill w-100">
        <li class="nav-item col-2">
          <a class="navbar-brand text-light d-md-flex flex-md-column" href="{% url 'medias:upload' %}">
            <span class="fas fa-file-video"></span>
            <span>Anonymizer</span>
          </a>
        </li>
        <li class="nav-item col-2">
          <a class="navbar-brand text-light d-md-flex flex-md-column" href="{% url 'medias:upload' %}" style="pointer-events: none">
            <span class="fas fa-file-audio"></span>
            <span>Transcriber</span>
          </a>
        </li>
        <li class="nav-item col-2">
          <a class="navbar-brand text-light d-md-flex flex-md-column" href="{% url 'medias:upload' %}" style="pointer-events: none">
            <span class="fas fa-file-audio"></span>
            <span>Synthesizer</span>
          </a>
        </li>
      </ul>
      <div class="col-1"></div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item col-2">
          {% if user.is_authenticated and user.username != 'anonymous' %}
            {% include './top-nav_button.html' with icon="fa-user" target="../../accounts/user/edit" text=user.username.title %}
          {% else %}
            <a type="button" class="navbar-brand text-light d-md-flex flex-md-column" data-bs-toggle="modal" data-bs-target="#LOGIN-MODAL">
              <span class="fas fa-door-open"></span>
              <span>Login</span>
            </a>
            {% comment %}
            <div class="col-1">
                <a href="{% url app|add:':insert'  %}" class="btn btn-primary" title=" New {{ singular_name }}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            {% endcomment %}
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-header col-1 d-flex justify-content-left align-items-center">
  {% if user.is_authenticated and user.username != 'anonymous' %}
    <a class="btn btn-link" href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out pull-right"></i>
      <span> Logout</span>
    </a>
  {% endif %}
  </div>
</nav>
{% include 'accounts/login_modal.html' %}
