{% extends 'medias/base.html' %}

{% load static %}

{% block title %}Process{% endblock %}

{% block medias_content %}
  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <td class="col-sm-4 fw-bold text-center">Medias</td>
        <td class="col-sm-4 fw-bold text-center">Duration</td>
        <td class="col-sm-4 fw-bold text-center">Progress</td>
      </tr>
    </thead>
    <tbody>
      {% for media in medias %}
        <tr>
          <td><a href="{{ medias.file.url }}">{{ media.file.name }}</a></td>
          <td class="text-center">{{ media.duration }}</td>
          <td class="progress text-center" role="progressbar" aria-label="Basic example" aria-valuenow="{{ media.progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 36px">
            <div class="progress-bar" role="progressbar" style="width: {{ media.progress }}%;">{{ media.progress }}%</div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
<h1 class="text-center">Visualization</h1>
{% endblock %}
