<!--  Upload medias from drag&drop  -->
<div style="padding-top: 20px;">
  <div class="card card-body text-bg-light text-muted text-center"
       {% if not user.user_settings.media_added %} style="padding-top: 15rem; padding-bottom: 15rem;"
       {% else %} style="padding-top: 1.5rem; padding-bottom: 1.5rem;" {% endif %}>
    <i class="fas fa-arrow-down" style="font-size: 4rem;"></i>
    <h3 class="text-muted">Drop Medias Here</h3>
  </div>
</div>
<div {% if not user.user_settings.media_added %} class="collapse" {% else %} class="collapse show" {% endif %} id="collapseContent">
  <!--  content  -->
  <br>
  <hr>
  <!--  media list  -->
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h2 class="text-center">Media List</h2>
    </div>
    <div class="col-3">
    <form method="post" action="{% url 'medias:clear_all_media' %}">
      {% csrf_token %}
      <input type="hidden" class="reset-button" name="next" value="{{ request.path }}">
      <button type="submit" class="btn btn-danger float-end">
        <i class="far fa-trash-alt"></i> Clear All Media
      </button>
    </form>
    </div>
  </div>
  <div id="media_table_container">
    {% include "medias/upload/media_table.html" %}
  </div>
  <div class="row">
    <div class="col-3">
      <form method="post" action="{% url 'medias:expand_area' %}">
        {% csrf_token %}
        <a class="btn btn-info" id="button_show_gs" data-bs-toggle="collapse" href="#collapseGlobalSettings"
           aria-expanded="false" aria-controls="collapseGlobalSettings">
            <i class="fas fa-cog"></i> Global Settings
        </a>
      </form>
    </div>
    <div class="col-6 text-center" style="margin-bottom: 20px;">
      <form method="post" action="{% url 'medias:process' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">
          <i class="fas fa-dice"></i> Start Process
        </button>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
  <div {% if user.user_settings.show_gs %} class="collapse show" {% else %} class="collapse" {% endif %} id="collapseGlobalSettings">
    <hr>
    <!--  Global settings  -->
    <div class="row">
      <div class="col-3 d-flex justify-content-left">
      </div>
      <div class="col-6">
        <h2 class="text-center">Global Settings</h2>
      </div>
      <div class="col-3">
        <form method="post" action="{% url 'medias:reset_user_settings' %}">
          {% csrf_token %}
          <input type="hidden" class="reset-button" name="next" value="{{ request.path }}">
          <button type="submit" class="btn btn-danger float-end">
            <i class="fas fa-rotate-left"></i> Reset Settings
          </button>
        </form>
      </div>
    </div>
    <table id="options" class="table table-bordered">
      <thead>
        <tr>
          <td class="col-sm-4 fw-bold text-center text-bg-secondary">What to blur ?</td>
          <td class="col-sm-4 fw-bold text-center text-bg-secondary">How to blur ?</td>
          <td class="col-sm-4 fw-bold text-center text-bg-secondary">What to show ?</td>
        </tr>
      </thead>
    </table>
    <div id="global_settings_container">
      {% include "medias/upload/global_settings.html" %}
    </div>
    <br>
  </div>
</div>
