<div class="row">
  <div class="col-4 d-flex justify-content-center align-content-center">
    {% for setting in global_settings %}
      {% if setting.name == 'classes2blur' %}
        {% include "widgets/CheckboxMultipleModal.html" with field=user_settings_form.classes2blur id=user.id setting_type='global_setting' value=gs_values|get_value:setting.name button_width=4 %}
      {% else %}
        {% ifchanged setting.label %}{% if forloop.counter > 1 %}</div><div class="col-4">{% endif %}{% endifchanged %}
        {% if setting.type == 'BOOL' %}
          <div class="form-check form-switch d-flex justify-content-center align-content-center">
            <div class="col-6">
              {% include 'medias/upload/setting_button.html' with id=user.id setting_type='global_setting' value=gs_values|get_value:setting.name range_width='col-sm-3' %}
            </div>
          </div>
        {% elif setting.type == 'FLOAT' %}
          <div class="form-range d-flex justify-content-center align-content-center">
            <div class="col-10">
              {% include 'medias/upload/setting_button.html' with id=user.id setting_type='global_setting' value=gs_values|get_value:setting.name range_width='col-sm-3' %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
