{% extends 'medias/base.html' %}

{% load static %}

{% block title %}Anonymizer - Objects Blurring{% endblock %}

{% block javascript %}
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

{# MEDIAS PAGE SCRIPTS #}
<script src="{% static 'medias/js/console.js' %}"></script>
<script src="{% static 'medias/js/process.js' %}"></script>
<script src="{% static 'medias/js/update.js' %}"></script>
<script src="{% static 'medias/js/upload.js' %}"></script>
{% endblock %}

{% block medias_content %}
<!--  Upload media  -->
<div class="row margin-bottom: 20px;">
    <div class="col-1" style="padding-bottom: 5rem;"></div>
    <!--  Upload local media  -->
    <div class="col-4 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary btn-lg js-upload-medias" style="height: 58px; width: 300px">
            <i class="fas fa-cloud-upload-alt"></i> Upload local media
        </button>
        <input id="fileupload" type="file" name="file" multiple
               style="display: none;"
               data-url="{% url 'medias:upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    </div>
    <div class="col-2"><h1 class="text-center fw-bold" style="padding-top: 1rem;">Or</h1></div>
    <!--  Upload medias from URL  -->
    <div class="col-5">
        {% include "medias/upload/upload_from_url.html" %}
    </div>
</div>
<!--  Progress popup  -->
<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-dark">Uploading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main_container">
    {% include "medias/upload/content.html" %}
</div>
{% endblock %}
