<div class="row align-items-center">
  <!-- Bloc classes2blur (colonne gauche) -->
  <div class="col-auto">
    {% for line_id, ms_form in media_settings_form.items %}
      {% if line_id == media.id %}
        {% include "widgets/CheckboxMultipleModal.html" with field=ms_form.classes2blur id=media.id setting_type='media_setting' value=ms_values|get_value:media.id|get_value:'classes2blur' button_width=1 %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- Bloc sliders (colonne centrale avec fond foncé) -->
  <div class="col">
    <div class="row p-2 rounded">
      {% for setting in global_settings %}
        {% if setting.name != 'classes2blur' and setting.type == 'FLOAT' %}
          <div class="col-3 text-center">
            {% include 'medias/upload/setting_button.html' with id=media.id setting_type='media_setting' value=ms_values|get_value:media.id|get_value:setting.name range_width='col-sm-12' %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
