<table class="table table-bordered" id="medias">
  <thead>
    <tr>
      <td class="col-sm-1 fw-bold text-center text-bg-secondary">Options</td>
      <td class="col-sm-5 fw-bold text-center text-bg-secondary">Media</td>
      <td class="col-sm-2 fw-bold text-center text-bg-secondary">Properties</td>
      <td class="col-sm-2 fw-bold text-center text-bg-secondary">Duration</td>
      <td class="col-sm-2 fw-bold text-center text-bg-secondary">Progress</td>
    </tr>
  </thead>
  <tbody>
    {% for media in medias %}
      {% if user.username in media.username %}
        <tr>
          <td class="text-bg-light">
            <div class="d-flex justify-content-center align-items-center">
              <form method="post" action="{% url 'medias:expand_area' %}">
                {% csrf_token %}
                <a class="btn btn-info btn-sm text-center" id="button_show_ms"
                   data-bs-toggle="collapse" href="#collapseMediaSettings_{{ media.id }}"
                   aria-expanded="false" aria-controls="collapseMediaSettings_{{ media.id }}">
                  <i class="fas fa-arrow-down"></i>
                </a>
              </form>
            </div>
          </td>
          <td class="text-bg-light text-center"><a href="{{ medias.file.url }}">{{ media.file.name|slice:"12:" }}</a></td>
          <td class="text-bg-light text-center">{{ media.width }}x{{ media.height }} ({{ media.fps }}fps)</td>
          <td class="text-bg-light text-center">{{ media.duration_inMinSec }}</td>
          <td class="text-bg-light text-center">
            <div class="progress text-center" role="progressbar" aria-label="Basic example"
                 aria-valuenow="{{ media.blur_progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
              <div class="progress-bar" role="progressbar" style="width: {{ media.blur_progress }}%">
                {{ media.blur_progress }}%</div>
            </div>
          </td>
        </tr>
        <tr {% if media.show_ms %} class="collapse show" {% else %} class="collapse" {% endif %} id="collapseMediaSettings_{{ media.id }}">
          <td colspan="12">
            <div id="media_settings_container">
              {% include "medias/upload/media_settings.html" %}
            </div>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
