{% with id|stringformat:"s" as id %}
    <div id="setting_button_container_{{ setting_type }}_{{ setting.name }}{% if setting_type == 'media_setting' %}_{{ id }}{% endif %}"
         style="padding:0rem; border-radius:0.25rem;">
        {% if setting.type == 'BOOL' %}
            <div id="setting_button_container_{{ setting_type }}_{{ setting.name }}_{{ id }}">
                <input class="form-check-input setting-button" type="checkbox" role="switch" name="{{ setting.name }}"
                     id="{{ setting_type }}_{{ setting.name }}_{{ id }}"
                     {% if value == 1 or value == 'True' %}checked{% endif %}>
                <label class="form-check-label" for="{{ setting_type }}_{{ setting.name }}_{{ id }}">{{ setting.title }}</label>
            </div>
        {% elif setting.type == 'CHOICE' %}
            <div>
                <label class="form-label">{{ setting.title }}</label><br>
                {% for opt_value, label in setting.choices %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input setting-button"
                               name="{{ setting.name }}[]"
                               id="{{ setting_type }}_{{ setting.name }}{% if setting_type == 'media_setting' %}_{{ id }}{% endif %}_{{ forloop.counter }}"
                               value="{{ opt_value }}"
                               {% if opt_value in selected_values %}checked{% endif %}>
                        <label class="form-check-label"
                               for="{{ setting_type }}_{{ setting.name }}{% if setting_type == 'media_setting' %}_{{ id }}{% endif %}_{{ forloop.counter }}">
                            {{ label }}
                        </label>
                    </div>
                {% endfor %}
            </div>

        {% elif setting.type == 'FLOAT' %}
            <div>
                <input class="form-range-input {{ range_width }} setting-button" type="range"
                       name="{{ setting.name }}"
                       id="{{ setting_type }}_{{ setting.name }}{% if setting_type == 'media_setting' %}_{{ id }}{% endif %}"
                       value="{{ value }}" min="{{ setting.min }}" max="{{ setting.max }}" step="{{ setting.step }}"
                       title="{{ setting.title }}"
                       oninput="this.nextElementSibling.value = this.value">

                {% if setting_type == 'media_setting' %}
                    <label class="form-range-label"
                           for="{{ setting_type }}_{{ setting.name }}_{{ id }}">
                        {{ setting.title }}:
                    </label>
                    <output>{{ value }}</output>
                {% elif setting_type == 'global_setting' %}
                    <output>{{ value }} |</output>
                    <label class="form-range-label"
                           for="{{ setting_type }}_{{ setting.name }}">
                        {{ setting.title }}
                    </label>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endwith %}
