
/* Cell that switch between display and edit mode */
.combo_cell{

    padding:3px;
    border-radius: 3px;
    width:auto;
    height:auto;
}
.combo_cell:hover{
background-color: #DDDDDD;
}

.combo_cell .dropdown .switch{
    position: absolute;
    float:right;
}
.combo_cell .switch{
    display:none;
    right:0;
    float:right;
}
.combo_cell .switch[data-bs-toggle="modal"]{

}

.combo_cell .switch>.caret{display:none;}
.combo_cell:hover .switch{
    display: inline;
}

.combo_cell .display{
    display:block;
}

.combo_cell.edit_mode .display{
    display:none;
}

.combo_cell .edit{
    display:none;
}

.combo_cell.edit_mode .edit{
    position:relative;
    display:block;
    clear:left;
    margin:3px;
    height: contains;
    padding:3px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.combo_cell.edit_mode .edit form{
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "…" "…";
}
.combo_cell.edit_mode .edit input[type=file]{
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.combo_cell.edit_mode .switch{
    display:inline-block;
}