{% with id|stringformat:"s" as id %}
{% with 'modal_'|add:field.name|add:'_'|add:id as modal_id %}
  <button type="button" class="btn btn-primary btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">
    {% if button_width > 1 %}
      {{ field.label }}
    {% else %}
      {{ field.label|slice:":3" }}
    {% endif %}
  </button>

  <div class="modal fade" tabindex="-1" role="dialog" id="{{ modal_id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white">{{ field.label }}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          {% for class_code, class_label in field.field.choices %}
            <div class="form-check">
              <input class="form-check-input setting-button"
                     type="checkbox"
                     name="{{ class_code }}"
                     id="{{ setting_type }}_{{ field.name }}_{{ class_code }}{% if setting_type == 'media_setting' %}_{{ id }}{% endif %}"
                     {% if class_code in value %}checked{% endif %}>
              <label class="form-check-label text-white"
                     for="{{ setting_type }}_{{ field.name }}_{{ class_code }}{% if setting_type == 'media_setting' %}_{{ id }}{% endif %}">
                {{ class_label }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fas fa-times me-1"></i>Fermer
          </button>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
{% endwith %}
