{% extends 'medias/base.html' %}

{% load static %}

{% block title %}Medias Upload{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# MEDIAS PAGE SCRIPTS #}
  <script src="{% static 'medias/js/upload.js' %}"></script>
{% endblock %}

{% block medias_content %}
  <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary js-upload-medias">
      <i class="fas fa-cloud-upload-alt"></i> Upload medias
    </button>
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'medias:upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>
  <div class="card card-body text-bg-light text-muted text-center" style="padding-top: 2rem; padding-bottom: 2rem;">
    <i class="fas fa-arrow-down" style="font-size: 4rem;"></i>
    <h3>Or drop Medias Here to Upload</h3>
  </div>
  <br>
  <table id="medias" class="table table-bordered">
    <thead>
      <tr>
        <td class="col-sm-4 fw-bold text-center">Medias</td>
        <td class="col-sm-4 fw-bold text-center">Duration</td>
        <td class="col-sm-4 fw-bold text-center">Progress</td>
      </tr>
    </thead>
    <tbody>
      {% for media in medias %}
        <tr>
          <td><a href="{{ medias.file.url }}">{{ media.file.name }}</a></td>
          <td class="text-center">{{ media.duration }}</td>
          <td class="progress text-center" role="progressbar" aria-label="Basic example" aria-valuenow="{{ media.progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 36px">
            <div class="progress-bar" role="progressbar" style="width: {{ media.progress }}%;">{{ media.progress }}%</div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-info">
      <i class="fas fa-dice"></i> Launch process with default configuration
    </button>
    <input id="process" type="file" name="file" multiple
           style="display: none;">
  </div>
  <p>
    <button class="btn btn-info" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
      <i class="fas fa-cog"></i> Show options
    </button >
  </p>
  <div class="collapse" id="collapse">
  <form method="post" action="{% url 'medias:reset_options' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger float-end">
      <i class="far fa-trash-alt"></i> Reset options
    </button>
  </form>
  <br>
  <hr>
  <div class="row text-center p-2 border border-primary-subtle rounded-3">
    <div class="col-sm-2"></div>
    <div class="col-sm-3 fw-bold">Options</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3 fw-bold">Values</div>
    <div class="col-sm-2"></div>
  </div>
  {% for option in options %}
    <div class="row text-center p-2 text-primary-emphasis bg-info-subtle border border-primary-subtle rounded-3">
      <div class="col-sm-2"></div>
      <div class="col-sm-3 text-center">{{ option.title }}</div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3 text-center">
        {% if option.type == 'BOOL' %}
          <input class="form-check-input" type="checkbox" role="switch" name="option.title" {% if option.value == '1' %}checked{% endif %}>
        {% elif option.type == 'FLOAT' %}
          <input type="range" class="form-range" name="option.title" value="{{ option.value }}" min="0" max="2" step="0.1" oninput="this.nextElementSibling.value = option.value">
<!--          <output>{{ option.value }}</output>-->
        {% endif %}
      </div>
      <div class="col-sm-2"></div>
    </div>
  {% endfor %}
  <hr>
  <div class="text-center" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-info">
      <i class="fas fa-dice"></i> Launch process with defined configuration
    </button>
    <input id="process_with_defined_options" type="file" name="file" multiple
           style="display: none;">
  </div>
  </div>
  <br>
{% endblock %}
