{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">About WAMA and RGPD compliance</h1>
  <p class="lead">WAMA detects and blurs faces, number plates and so much more, quickly and accurately.</p>
  <hr>
  <h4>Why ?</h4>
    <ul>
      <li>Needs:
        <ul>
          <li>Blur the videos of Lescot's archived experimental data</li>
          <li>To meet the requirements of the RGPD and the CNIL in terms of the retention and use of media (photos, videos).</li>
        </ul>
      </li>
      <li>Objectives:
        <ul>
          <li>To be able to keep the lab's video data provided it is anonymised</li>
          <li>To have at Lescot, and then at the UGE, an online service for automatic anonymisation of media</li>
          <li>To be able to integrate this tool into future research projects</li>
        </ul>
      </li>
    </ul>
  <hr>
  <h4>What is it?</h4>
    <ul>
      <li>A website using algorithms to detect and blur objects in images</li>
      <li>Client-server website: User settings are sent to the server then processing is carried out on the server by applying these parameters</li>
      <li>Detection algorithms based on deep learning principles: Creation/collection of data sets => Training => Detection model</li>
    </ul>
  <hr>
  <h4>How does it work?</h4>
    <ul>
      <li><a href="https://pytorch.org/">Pytorch:</a> Deep learning framework initially developed by Facebook's AI research group released as open source on GitHub in 2017</li>
      <li><a href="https://www.ultralytics.com/yolo">Yolov8:</a> You Only Look Once - Real-time object detection framework</li>
    </ul>
  <hr>
  <h4>Links</h4>
  <ul>
    <li><a href="http://127.0.0.1:8000/">WAMA website</a> (temporary)</li>
    <li>GitHub projects: <a href="https://github.com/fmoreau69/web-app-for-media-automation">WAMA</a> | <a href="https://github.com/fmoreau69/anonymizer">Anonymizer</a></li>
    <li>Project management: <a href="https://projets.ifsttar.fr/issues/7868">Projets.ifsttar.fr</a></li>
  </ul>
  <hr>
  <h4>About RGPD compliance</h4>
  <ul>
  <li>In accordance with the <a href="https://www.economie.gouv.fr/entreprises/reglement-general-protection-donnees-rgpd" target="_blank">RGPD rules</a>, WAMA can help you ensure the anonymisation of your visual data (photos, videos, media links, etc.).</li>
  </ul>
{% endblock %}
