{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">About WAMA and RGPD compliance</h1>
  <p class="lead">WAMA detects and blurs faces and number plates quickly and accurately.</p>
  <hr>
  <h2>About WAMA</h2>
  <p class="lead">
    <ul>
      <li>WAMA website link: http://127.0.0.1:8000/ (temporary)</li>
      <li>Github projects:
        <ul>
          <li>WAMA: https://github.com/fmoreau69/webapp-for-autormatic-media-anonymization</li>
          <li>Anonymizer: https://github.com/fmoreau69/anonymizer</li>
        </ul>
      </li>
      <li>Project management: https://projets.ifsttar.fr/issues/7868</li>
    </ul>
  </p>
  <br>
  <br>
  <h2>About RGPD compliance</h2>
  <p class="lead">In accordance with the <a href="https://www.economie.gouv.fr/entreprises/reglement-general-protection-donnees-rgpd" target="_blank">RGPD rules</a>, WAMA can help you ensure the anonymisation of your visual data (photos, videos, media links, etc.).</p>
{% endblock %}