{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">About WAMA and RGPD compliance</h1>
  <p class="lead">WAMA detects and blurs faces and number plates quickly and accurately.</p>
  <hr>
  <h2></h2>
  <p class="lead">In accordance with the <a href="https://www.economie.gouv.fr/entreprises/reglement-general-protection-donnees-rgpd" target="_blank">RGPD rules</a>, WAMA can help you ensure the anonymisation of your visual data (photos, videos, media links, etc.).</p>
{% endblock %}