{% extends 'common/app_base.html' %}
{% load static %}

{% block app_scripts %}
{# ANONYMIZER SPECIFIC SCRIPTS #}
<script src="{% static 'anonymizer/js/process.js' %}"></script>
<script src="{% static 'anonymizer/js/update.js' %}"></script>
<script src="{% static 'anonymizer/js/upload.js' %}"></script>
{% endblock %}

{% block console_content_id %}anonymizer-console-content{% endblock %}
{% block console_hint_id %}anonymizer-console-hint{% endblock %}
{% block console_url %}{% url 'anonymizer:console' %}{% endblock %}

{% block app_menu %}
<a href="{% url 'anonymizer:index' %}" class="list-group-item {% if request.path == '/anonymizer/' or request.path == '/anonymizer/upload/' %} active {% endif %}">
    <span class="fas fa-upload"></span> Upload / <span class="fas fa-spinner"></span> Process
</a>
<a href="{% url 'anonymizer:about' %}" class="list-group-item {% if request.path == '/anonymizer/about/' %} active {% endif %}">
    <span class="fas fa-circle-info"></span> About
</a>
<a href="{% url 'anonymizer:help' %}" class="list-group-item {% if request.path == '/anonymizer/help/' %} active {% endif %}">
    <span class="fas fa-circle-question"></span> Help
</a>
{% endblock %}

{% block app_content %}
{% block anonymizer_content %}
{# Le contenu spécifique à chaque page anonymizer va ici #}
{% endblock %}
{% endblock %}
