{% extends 'common/app_base.html' %}
{% load static %}

{% block app_scripts %}
{# TRANSCRIBER SPECIFIC SCRIPTS - chargés depuis index.html #}
{% endblock %}

{% block console_content_id %}transcriber-console-content{% endblock %}
{% block console_hint_id %}transcriber-console-hint{% endblock %}
{% block console_url %}{% url 'transcriber:console' %}{% endblock %}

{% block app_menu %}
<a href="{% url 'transcriber:index' %}" class="list-group-item {% if request.path == '/transcriber/' %} active {% endif %}">
    <span class="fas fa-upload"></span> Upload / <span class="fas fa-spinner"></span> Process
</a>
<a href="{% url 'transcriber:about' %}" class="list-group-item {% if request.path == '/transcriber/about/' %} active {% endif %}">
    <span class="fas fa-circle-info"></span> About
</a>
<a href="{% url 'transcriber:help' %}" class="list-group-item {% if request.path == '/transcriber/help/' %} active {% endif %}">
    <span class="fas fa-circle-question"></span> Help
</a>
{% endblock %}

{% block app_content %}
{% block transcriber_content %}
{# Le contenu spécifique à chaque page transcriber va ici #}
{% endblock %}
{% endblock %}
